*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.mainApp{
  width: 375px;
  padding: 24px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.headerLeft,
.headerRight{
  height: 32px;
}
.headerRight,
.fontSelect,
.darkMode{
  display: flex;
  align-items: center;
}
.headerRight{
  gap: 20px;
}
.fontSelect{
  gap: 12px;
  border-right: 1px solid #e9e9e9;
  padding-right: 12px;
}
.fontSelect p{
  font-size: 14px;
  font-weight: 600;
}
.fontSelect img{
  width: 12px;
}
.searchBar{
  background-color: #f4f4f4;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 14px;
}
.searchBar input{
  outline: none;
  border: none;
  background-color: transparent;
  width: 90%;
  font-size: 16px;
  height: 100%;
  line-height: 32px;
  font-weight: 700;
}
.wordContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.phonetic{
  color: #a445ed;
}
.submitBtn{
  border: none;
  background-color: transparent;
}
.playImg{
  height: 48px;
}
.meaning{
  position: relative;
  padding: 32px 0;
}
.meaning:before{
  content: "";
  border-top: 1px solid #f4f4f4;
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
}
.meaning h4,
.synonym p,
.antonym p,
.source p{
  color: #757575;
  font-weight: 500;
}
.partOfSpeech{
  font-style: italic;
  position: absolute;
  top: -8px;
}
.definitions{
  padding: 8px 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.definitions li{
  list-style: none;
}
.definitions li:before{
  content: "•";
  position: absolute;
  left: 0;
  color: #a445ed;
}
.synonym,
.antonym{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.synonym h2,
.antonym h2{
  font-size: 16px;
  color: #a445ed;
}
.word{
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.source{
  border-top: 1px solid #f4f4f4;
  padding-top: 32px;
}
.source p,
.source h4:hover{
  text-decoration: underline;
}
.source h4{
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  gap: 12px;
  margin-top: 6px;
}
.word,
.source h4{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
audio{
  width: 0;
}